html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    
  }
}

html {
 /* position: relative;*/
  min-height: 100%;
}

body {
  /*margin-bottom: 60px;*/
}
/*Aca ingreso el estilo que quiero modificar*/
.cuadrado {
    margin: 0 auto;
    border: 1px solid #000;
    background: red;
    width: 150px;
    height: 150px;
    color: blue;
}
.cuadradoPrivacy {
    margin: 0 auto;
    border: 5px solid #000;
    background: blue;
    width: 150px;
    height: 150px;
    color: green;
}